<h1>Apply to "Insert company name" </h1>
<form>
<!-- <form [formGroup]="form"(ngSubmit)="submitForm()"> -->
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input type="text"matInput placeholder="name" formControlName="name">
    <input type="text"matInput placeholder="email" formControlName="email">
    <input type="text"matInput placeholder="phone" formControlName="phone">
    <br>
    <p>Please upload your resume</p>
    <input type="file" class="file-upload" onchange="console.log(event.target.files)">
</mat-form-field>
<br>
    <button type="submit" mat-raised-button color="primary" >Submit</button>
</form>


<!-- <button type="submit" class="btn btn-primary btn-block mt-4 w-100" [disabled]="this.form.invalid">Login</button> -->