<app-login-status></app-login-status>

<mat-card>

    <mat-card-content *ngFor="let jd of details, let i = index">
      <mat-card-content>Job ID: {{ jd.job_id }}</mat-card-content>
      <img width="150" height= "150" src="{{jd.employer_logo}}"/>
      <mat-card-content>Job Name: {{ jd.employer_name }}</mat-card-content>
      <mat-card-content>Job Title: {{ jd.job_title }}</mat-card-content>
      <mat-card-content>Job Country: {{ jd.job_country }}</mat-card-content>
      <mat-card-content>Job Employment Type: {{ jd.job_employment_type }}</mat-card-content>
      <mat-card-content class="content">Job Description: {{ jd.job_description }}</mat-card-content>

      <br><br>

      <span><mat-icon aria-hidden="false" fontIcon="favorite_border" (click)="onSubmit(i)"></mat-icon>Favourite</span>
      <span><mat-icon aria-hidden="false" fontIcon="assignment" (click)="applyJob(i)"></mat-icon>Apply job</span>
    </mat-card-content>

  </mat-card>




